# Virtual envs
.env
.venv

# IDEs
.vscode

# Ignore Python cache files
**/__pycache__

# Ignore back-end dirs or files not needed in the container
src/back-end/dalle2/png_images/
src/back-end/video_generation/videos/final_video.mp4

# Ignore other dirs and files
docker-compose.yml
.dockerignore
.git
.gitignore
.isort.cfg
