# Venv, direnv
.env
.envrc
.venv

# IDEs
.vscode

# Python
**/__pycache__

# Environment variables
**/.env_vars

# Dir of JSONs containing Base64 generated imgs
**/base64_code

# Dir of the PNG imgs
**/png_images

# Output Video file
**/videos/final_video.mp4

# Audio file
**/audio.mp3
