# Venv, direnv
.env
.envrc
.venv

# IDEs
.vscode

# Python
**/__pycache__

# Environment variables
**/.env_vars

# Dir of JSONs containing Base64 generated imgs
**/responses

# Dir of the PNG imgs
**/images
